{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 设置'}}{{/block}}

{{block 'body'}}
<section class="container">
  {{include '../_partials/settings-nav.html'}}
  <div class="col-md-5">
    <form id="profile_form" enctype="multipart/form-data">
      <div class="form-group">
        <label for="">账号</label>
        <p class="form-control-static">{{ user.email }}</p>
      </div>
      <div class="form-group">
        <label for="nickname">昵称</label>
        <input type="password" class="form-control" id="nickname" placeholder="{{ user.nickname }}" disabled>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">介绍</label>
        <textarea class="form-control" rows="3" name="bio">{{ user.bio }}</textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">性别</label>
        <div>
          {{ if user.gender === -1 }}
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value="1"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value="0"> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio3" value="-1" checked="checked"> 保密
          </label>
          {{ else if user.gender === 0 }}
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value="1"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value="0" checked="checked"> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio3" value="-1"> 保密
          </label>
          {{ else }}
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio1" value="1" checked="checked"> 男
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio2" value="0"> 女
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" id="inlineRadio3" value="-1"> 保密
          </label>
          {{ /if }}
        </div>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">生日</label>
        <input type="date" class="form-control" id="exampleInputPassword1" name="birthday" value="{{ user.birthday }}">
      </div>
      <input type="hidden" name="id" value="{{ user._id }}">
      <button type="submit" class="btn btn-success">保存</button>
    </form>
  </div>

  <div class="col-md-2 profile-avatar">
    <dl>
      <dt>头像设置</dt>
      <dd>
        <form id="form_avatar" action="/settings/profile/avatar" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <img class="img-rounded" width="150" height="150" src="../{{ user.avatar }}" alt="">
          </div>
          <div class="form-group">
            <input type="file" name="avatar">
            <input type="hidden" name="id" value="{{ user._id }}">
          </div>
          <div>
            <button class="btn btn-success" type="submit">上传头像</button>
          </div>
        </form>
      </dd>
    </dl>
  </div>

</section>
{{/block}}
{{ block 'script' }}
<script>
  $('#profile_form').on('submit', function (e) {
    e.preventDefault()
    var formData = $(this).serialize()
    $.ajax({
      url: '/settings/profile',
      type: 'post',
      data: formData,
      dataType: 'json',
      success: function (data) {
        var err_data = data.err_code
        if (err_data === 0) {
          window.alert('保存成功')
        }
      }
    })
  })
</script>
{{ /block }}