{{extend '../_layouts/home.html'}}

{{block 'title'}}{{'多人博客 - 首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="row">
    <div class="col-md-5">
      <form action="/topic/new" method="post">
        <input type="hidden" name="authorId" value="{{ user._id }}">
        <div class="form-group">
          <label for="section">选择板块</label>
          <select id="section" class="form-control" name="section">
            <option>分享</option>
            <option>问答</option>
            <option>招聘</option>
            <option>客户端测试</option>
          </select>
        </div>
        <div class="form-group">
          <label for="title">标题</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="文章标题">
        </div>
        <div class="form-group">
          <label for="content">内容</label>
          <textarea class="form-control" rows="10" id="content" name="content"></textarea>
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</section>
{{/block}}
