{{extend './_layouts/home.html'}}

{{block 'title'}}{{'ynodejs--论坛首页'}}{{/block}}

{{block 'body'}}
<section class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">全部 分享 问答 招聘 客户端测试</h3>
    </div>
    <div class="panel-body">
      <ul class="media-list">
        {{ each topic }}
        <li class="media">
          <div class="media-left">
            <a href="#">
              <img width="40" height="40" class="media-object img-rounded" src="{{ $value.authorAvatar }}" alt="...">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"><a href="/topics/123">{{ $value.title }}</a></h4>
            <p>{{ $value.content }}</p>
            <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • {{ $value.created_time }}</p>
          </div>
        </li>
        {{ /each }}

        <!-- <li class="media">
      <div class="media-left">
        <a href="#">
          <img width="40" height="40" class="media-object" src="../public/img/avatar-max-img.png" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><a href="/topics/123">Media heading</a></h4>
        <p>sueysok 回复了问题 • 2 人关注 • 1 个回复 • 187 次浏览 • 2017-10-20 13:45</p>
      </div>
    </li> -->
      </ul>
    </div>
  </div>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li>
        <a href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="active"><a href="#">1</a></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li>
        <a href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</section>
{{/block}}